<div class="card">
  <div class="card-header">
    <div class="float-right">
      <button
        class="btn btn-default"
        (click)="toggleDetailsViewVisibility()">
        <i class="icon icon-delete"></i>
      </button>
    </div>
    <div class="card-title h5">
      {{ stockQuote.symbol | upperOrLowercase:true }}
      <span class="card-title-addition">
        {{ stockQuote.last | currency:'EUR' }}
      </span>
    </div>
    <div class="card-subtitle text-gray">
      {{ stockQuote.company }}
    </div>
  </div>
  <div class="card-body">
      <aec-risk-badge [current]="stockQuote.risk"></aec-risk-badge>
  </div>
  <div class="card-footer">
    <button
      class="btn btn-link badge"
      [attr.data-badge]="availableDetails"
      (click)="toggleDetailsViewVisibility()">
      Details
    </button>
  </div>

  <div
    [@detailsVisibility]="detailsVisibility.visibleness"
    class="card-body">
    <ng-content></ng-content>
  </div>
</div>
